@import "../styles/vars";

.EventTile {
  margin-bottom: 1rem;

  &:hover {
    background-color: $ui-02;
    border-color: $brand-01;
  }
}

.Events-grid {
  margin: 0 -10px;
}

.Events {
  a {
    text-decoration: none;
    color: inherit;
  }
}