@import './styles/vars';

$app-width: 900px;

.App {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.App-header {
  background-color: $ui-01;
  height: 100px;
}

.App-inner-header {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  max-width: $app-width;
  margin: 0 auto;
  align-items: center;
  height: 100%;
}

.App-image {
  height: 100px;
  width: 150px;
  max-width: 23vw;
  background-image: url('./images/logo.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: left center;
}

.App-links a:not(:last-child) {
  margin-right: 1rem;
}

.App-title {
  font-size: 1.5em;
  flex-grow: 1;
  margin: 0;
}

.App-intro {
  font-size: large;
}

.App-banner {
  height: 250px;
  background-image: url('./images/running1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.App-body {
  flex-grow: 1;
}

.App-content {
  max-width: $app-width;
  margin: -3rem auto 2rem;
  background-color: $ui-01;
  padding: 1rem 2rem 2rem;
  border-radius: 5px;
}

.App-post {
  img {
    width: 100%;
  }

  p {
    margin-bottom: 1rem;
  }
}

.App-footer {
  background-color: $ui-05;
  color: $ui-03;
  padding: 1rem 5px;
}

.App-inner-footer {
  margin: 0 auto;
  max-width: $app-width;
}

.App .PB-tag {
  margin: 0 0.3rem;
  text-decoration: none;
  user-select: none;
}

.bx--data-table-v2-container {
  margin-bottom: 1.5rem;
}

img.aligncenter {
  display: block;
  margin: 0 auto;
}