.App {
  
}

.App-header {
  background-color: #284B63;
  height: 120px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-links {
  max-width: 900px;
  margin: 0 auto;
}

.App-links a {
  color: white;
  margin-right: 1rem;
}

.App-title {
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-content {
  max-width: 900px;
  margin: 2rem auto;
  background-color: white;
  padding: 2rem;
}

.App-post img {
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
