/* https://coolors.co/353535-3c6e71-ffffff-d9d9d9-284b63 */

@import './styles/vars.scss';
@import './styles/carbon.scss';

body {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin-bottom: 1.3rem;
}