/* https://coolors.co/353535-3c6e71-ffffff-d9d9d9-284b63 */

@import './styles/vars.scss';
@import './styles/carbon.scss';

body {
  // background-color: #D9D9D9;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  color: #3C6E71;
  margin: 1rem 0;
}